<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Sidebar -->
    <div class="sidebar">
        <a href="#">About us</a>
        <a href="{{ url_for('profile') }}">My Profile</a>
        <a href="#">Property Listings</a>
        <a href="{{ url_for('add_property') }}">Share/List Property</a>
        <a href="{{ url_for('logout') }}">Log out</a>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
